body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.settings-container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 15px;
}